@model EmployeesManagment.Models.LeaveApplication

@{
    ViewData["Title"] = "Update Leave Application";
}

<div class="row">
    <div class="col-md-12 mx-auto">
        <div class="card border-top border-0 border-4 border-info">
            <div class="card-body">
                <div class="border p-4 rouded">
                    <div class="card-title d-flex align-items-counter">
                        <div>
                            <i class="bx bxs-user me-1 font-22 text-info"></i>
                        </div>
                        <h5 class="mb-0 text-info"> Update Leave Application</h5>
                    </div><br />
                    <div class="col-md-12">
                        <form asp-action="Edit">
                            <div class="row g-3">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group col-md-6">
                                    <label asp-for="EmployeeId" class="control-label"></label>
                                    <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="NoOfDays" class="control-label"></label>
                                    <input asp-for="NoOfDays" class="form-control" />
                                    <span asp-validation-for="NoOfDays" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="StartDate" class="control-label"></label>
                                    <input asp-for="StartDate" type="date" class="form-control" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label asp-for="DurationId" class="control-label"></label>
                                    <select asp-for="DurationId" class="form-control" asp-items="ViewBag.DurationId"></select>
                                    <span asp-validation-for="DurationId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="LeaveTypeId" class="control-label"></label>
                                    <select asp-for="LeaveTypeId" class="form-control" asp-items="ViewBag.LeaveTypeId"></select>
                                    <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Attachment" class="control-label"></label>
                                    <input asp-for="Attachment" class="form-control" type="file" id="photo" name="leaveattachment" />
                                    <span asp-validation-for="Attachment" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="ApprovedById" class="control-label"></label>
                                    <input asp-for="ApprovedById" disabled class="form-control" />
                                    <span asp-validation-for="ApprovedById" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="ApprovedOn" class="control-label"></label>
                                    <input asp-for="ApprovedOn" disabled class="form-control" />
                                    <span asp-validation-for="ApprovedOn" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <a asp-action="Index" class="btn btn-warning float-start"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
                                    <button type="submit" class="btn btn-primary float-end"><i class="cm-s-ambiance bi-floppy-fill"></i> Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
